* {
	box-sizing: border-box; 
}


body {
	font-family: Arial;
}

.topic-cloud {
	float: left;
	width: 50%;
}
.topic-detail {
	float: left;
	width: 50%;
}

.topic-detail h1 {
	font-weight: bold;
	font-size: 1.25em;
	padding-bottom: 10px;
}

.positive-topic, .positive-mention {
	color: green;
}
.neutral-topic, .neutral-mention {
	color: gray;
}
.negative-topic, .negative-mention {
	color: red;
}

.topic:hover {
	background: #66CCFF;
}

li {
	display: inline-block;
}

li a {
	text-decoration: none;
}

.importance-1 {
	font-size: 2em;
	font-weight: bold;
}
.importance-2 {
	font-size: 1.5em;
}
.importance-3 {
	font-size: 1em;
}
.importance-4 {
	font-size: 0.5em;
}

.main-title {
	padding: 10px;
	font-family: Georgia;
	font-size: 1.5em;
}
.content {
	padding: : 10px;
}